/* Resetting default margin, padding, and font-family */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dark background color */
    color: #ffffff; /* White text color */
}

/* Styling for the floating login button */
.floating-login-button {
    position: absolute;
    top: 2px;
    right: 10px;
    background-color: #007bff; /* Bright blue background */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    z-index: 1000;
    transition: background-color 0.3s;
}

.floating-login-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Styling for the title bar */
.title-bar {
    font-family: sans-serif;
    background: linear-gradient(to right, #0062cc, #00fbff); /* Gradient background */
    color: #ffffff; /* White text color */
    padding: 10px 20px;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Shadow effect */
    text-align: center;
}

/* Container for dashboard content */
.dashboard-container {
    display: flex;
    min-height: 100vh; /* Minimum height of the viewport */
}

/* Sidebar menu */
.sidebar {
    background-color: #333; /* Dark background color */
    padding: 20px;
    width: 50px; /* Initial width */
    transition: width 0.5s; /* Smooth transition */
    overflow: hidden;
}

.menu-item a {
    display: flex;
    align-items: center;
    color: #ffffff; /* White text color */
    text-decoration: none;
    padding: 10px 0;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Light background color on hover */
}

.menu-item {
    margin-bottom: 10px;
    font-size: 18px;
}

.icon {
    margin-right: 10px;
    display: inline-block;
}

.label {
    display: none;
    margin-left: 10px;
}

.sidebar.expanded .label {
    display: inline;
}

.sidebar.expanded {
    width: 250px; /* Expanded width */
}

/* Main content area */
.main-content {
    flex-grow: 1;
    padding: 20px;
}

.top-bar {
    background-color: #222; /* Dark background color */
    padding: 10px 20px;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Login form container */
.login-form-container {
    max-width: 300px;
    margin: auto;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #333; /* Dark background color */
    border: none;
    color: white; /* White text color */
}

.login-form button {
    background-color: #007bff; /* Bright blue background */
    color: white; /* White text color */
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Footer */
.footer {
    text-align: center;
    margin-top: 0px;
    padding: 20px;
    background-color: #222; /* Dark background color */
    color: white; /* White text color */
}

/* Media query for responsive design */
@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }

    .sidebar {
        width: 50px; /* Initial width */
        transition: width 0.5s; /* Smooth transition */
    }

    .sidebar.expanded {
        width: 250px; /* Expanded width */
    }

    .icon {
        display: block;
    }
}

/* Styling for the drop down menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /* Dark background color */
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white; /* White text color */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red; /* Red background color on hover */
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1; /* Light background color on hover */
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Styling for the calendar */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c; /* Green background color */
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white; /* White text color */
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd; /* Light background color */
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee; /* Light gray background color */
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #1abc9c; /* Green background color */
    color: white !important; /* White text color */
}

/* Styling for generic button */
.button {
    border: none;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
