body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

.floating-login-button {
    position: fixed;
    top: 2px;
    right: 10px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    z-index: 1000;
    transition: background-color 0.3s;
}

.floating-login-button:hover {
    background-color: #0056b3;
}

.title-bar {
    font-family: sans-serif;
    background: linear-gradient(to right, #0062cc, #00fbff);
    color: #ffffff;
    padding: 10px 20px;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}


.dashboard-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    background-color: #333;
    padding: 20px;
    width: 50px;
    transition: width 0.5s;
    overflow: hidden;
}

.menu-item a {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 0;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu-item {
    margin-bottom: 10px;
    font-size: 18px;
}

.icon {
    margin-right: 10px;
    display: inline-block;
}

.label {
    display: none;
    margin-left: 10px;
}

.sidebar.expanded .label {
    display: inline;
}

.sidebar.expanded {
    width: 250px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.top-bar {
    background-color: #222;
    padding: 10px 20px;
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form-container {
    max-width: 300px;
    margin: auto;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #333;
    border: none;
    color: white;
}

.login-form button {
    background-color: #007bff;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.footer {
    text-align: center;
    margin-top: 0px;
    padding: 20px;
    background-color: #222; 
    color: white; 
}

@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }

    .sidebar {
        width: 50px;
        transition: width 0.5s;
    }

    .sidebar.expanded {
        width: 250px;
    }

    .icon {
        display: block;
    }
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}